// variables

$white-color: #fff;
$black-color: #000;
$dark-purple-color: #3c1b5b;
$purple-color: #6d39a1;
$light-purple-color: #b28dca;

$padding-20: 20px;
$padding-16: 16px;
$padding-14: 14px;
$padding-0: 0;