* {
  box-sizing: border-box;
  letter-spacing: 1.3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(235, 122, 29);
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  z-index: 10;
  padding: 1em 0 1em 0;
  display: flex;
  justify-content: center;
}

header h1 {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url(sunsetview.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
}

main,
section {
  background-color: rgb(6, 15, 3);
  padding: 2em;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: #045d83;
}

.content h2 {
  text-align: center;
  margin: 0 0 1em 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.scroll-image {
  background-image: url(waterfall.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(6, 15, 3);
  padding: 1em 0;
  text-align: center;
  color: wheat;
}
